<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/6fad3641f2.js" crossorigin="anonymous"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/messagecentre.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&family=Ubuntu&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <title>Message Centre</title>
</head>

<body>
  <!-- navbar -->
  <div class="colored" id="title">
    <nav class='navbar navbar-expand-lg navbar-dark'>
      <a class="navbar-brand title-font" id="title1 " href="/">AuntiesAssemble</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class='navbar-nav ml-auto'>

          <li class='nav-item'>
            <a class='nav-link title-font' href="/logout">Logout</a>
          </li>


        </ul>
      </div>
    </nav>
  </div>
  <div class="header1">
    Message Centre
  </div>


  <!-- New Orders Section -->
  <div class="content1">
    <h2>New Orders</h2>
    <div class="row row-cols-1 row-cols-md-3 content1">
      <!-- here you'll put the loop  -->
      <% if (foundNewOrders.length == 0) { %>
      <h4>You have no new orders.</h4>
      <% } else { %>
      <% foundNewOrders.forEach(function(order) { %>
      <div class="col mb-4">
        <form class="" action="/changeorderstatus/accept/<%= order.vendorId %>/<%= order._id %>" method="post">
          <div class="card h-100 card bg-light border-dark mb-3">
            <div class="card-header">New Order</div>
            <div class="card-body">
              <p class="card-text "> <%= order.orderTime %> </p>

              <p class="card-text "> <%= order.dish1Name %>: <%= order.dish1Amount %> </p>

              <p class="card-text "><%= order.dish2Name %>: <%= order.dish2Amount %></p>

              <p class="card-text "><%= order.dish3Name %>: <%= order.dish3Amount %></p>

              <p class="card-text "> Order Total: <%= order.total %> </p>

            </div>
            <div class="card-footer border-dark">
              <button type="submit" name="button" class="btn btn-success" value="Accept">Accept</button>
              <button type="submit" name="button" class="btn btn-danger" value="Decline">Decline</button>
            </div>
          </div>
        </form>
      </div>
      <% }); %>
      <% } %>

    </div>

  </div>

  <div class="content1">
    <h2>Pending Orders</h2>
    <div class="row row-cols-1 row-cols-md-3 content1">
      <!-- here you'll put the loop  -->
      <% if (foundPendingOrders.length == 0) { %>
      <h4>You have no pending orders.</h4>
      <% } else { %>
      <% foundPendingOrders.forEach(function(order) { %>
      <div class="col mb-4">
        <form class="" action="/changeorderstatus/finish/<%= order.vendorId %>/<%= order._id %>" method="post">
          <div class="card h-100 card bg-light border-dark mb-3">
            <div class="card-header">Pending Order</div>
            <div class="card-body">
              <p class="card-text "> <%= order.orderTime %> </p>

              <p class="card-text "> <%= order.dish1Name %>: <%= order.dish1Amount %> </p>

              <p class="card-text "><%= order.dish2Name %>: <%= order.dish2Amount %></p>

              <p class="card-text "><%= order.dish3Name %>: <%= order.dish3Amount %></p>

              <p class="card-text "> Order Total: <%= order.total %> </p>

            </div>
            <div class="card-footer border-dark">
              <button type="submit" name="button" class="btn btn-success" value="Accept">Finished Preparation</button>
            </div>
          </div>
        </form>
      </div>
      <% }); %>
      <% } %>

    </div>

  </div>

  <div class="content1 ">
    <h2>Past Orders</h2>
    <div class="row row-cols-1 row-cols-md-3 content1">
      <!-- here you'll put the loop  -->
      <% if (foundPastOrders.length == 0) { %>
      <h4>You have no past orders.</h4>
      <% } else { %>
      <% foundPastOrders.forEach(function(order) { %>
      <div class="col mb-4">

        <div class="card h-100 card text-white bg-dark mb-3">
          <div class="card-header">Past Order</div>
          <div class="card-body">
            <p class="card-text "> <%= order.orderTime %> </p>

            <p class="card-text "> <%= order.dish1Name %>: <%= order.dish1Amount %> </p>

            <p class="card-text "><%= order.dish2Name %>: <%= order.dish2Amount %></p>

            <p class="card-text "><%= order.dish3Name %>: <%= order.dish3Amount %></p>

            <p class="card-text "> Total (AED): <%= order.total %> </p>



          </div>
          <div class="card-footer">
            Order Status: <%= order.orderStatus %>
          </div>

        </div>
      </div>
      <% }); %>
      <% } %>


    </div>

  </div>
  <!-- footer -->
  <footer class="white" id="footer">
    <i class="fab fa-twitter footer-icon"></i>
    <i class="fab fa-facebook footer-icon"></i>
    <i class="fab fa-instagram footer-icon"></i>
    <i class="fas fa-envelope footer-icon"></i>

    <p class="footer-text">© Copyright 2020 AuntiesAssemble</p>

  </footer>



</body>

</html>
